@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'chivomedium_italic';
    src: url('/fonts/chivo-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'chivomedium';
    src: url('/fonts/chivo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

}

:root {
  /* main colours */
  --cetaceanblue: #111033;
  --intensewhite: #F8F9FA;
  --bluegrey: #619DC3;
  --fuzzywuzzy: #C3616C;
  --deer: #C38761;
  /* gradients */
  --warmgradient: linear-gradient(#EFA970, #95344F);
  --coolgradient: linear-gradient(90deg, #34957A, #C3B861);
  /* gradient colours */
  --fawn: #EFA970;
  --quinacridonemagenta: #95344F;
  --vegasgold: #C3B861;
  --illuminatingemerald: #34957A;
  /* extra colours */
  --darkcornflowerblue: #253C7A;
  --outerspace: #201F3D;
  --bone: #DFE0C2;
  --burleywood: #DAC385;
  --verylightazure: #70B6EF;
  --mediumaquamarine: #6ACBB0;
  --darkpurple: #38203E;
}

* {
  transition: all 0.3s ease;
}

html {
  background-image: url(/images/nightskydark.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-color: var(--cetaceanblue);
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: var(--intensewhite);
  letter-spacing: 1px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-family: Chivo, sans-serif;
  font-size: 1.6rem;
  color: var(--fuzzywuzzy);
  font-weight: 700;
}

h4 {
  font-family: Chivo, sans-serif;
  font-size: 1rem;
  color: var(--bluegrey);
  font-weight: 700;
  letter-spacing: tight;
}

h5 {
  background: var(--warmgradient);
  font-family: Chivo, sans-serif;
  font-weight: 800;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h6 {
  font-family: Chivo, sans-serif;
  font-size: 1.1rem;
  color: var(--intensewhite);
  font-weight: 700;
  letter-spacing: tight;
}

p {
  font-family: Chivo, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0;
}

.content {
  position: relative;
  overflow-y: auto;
  height: 100vh; /* No footer allowance on large */
  transition: 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .content {
    height: calc(100vh - 85px); /* Footer area on sm and md */
    margin-top:-55px;
  }
}

.calendar {
  font-size: 1.6rem;
  letter-spacing: 0.10rem;
  color: var(--fuzzywuzzy);
  border: 3px solid var(--fuzzywuzzy);
  border-radius: 0.7rem;
  padding: 0;
  margin: 0.5rem auto;
  max-width: 80%;
}

button.calendar-button {
  border-right: 3px solid var(--fuzzywuzzy);
  text-align: center;
  width: 14.28%;
  background: none !important;
}

.calendar-button:last-child {
  border-right: none;
  border-radius: 0 0.5rem 0.5rem 0;
}

.calendar-button:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

button.calendar-button:hover {
  background-color: var(--bluegrey) !important;
  color: var(--cetaceanblue)
}

/* middle button */
button.calendar-button:nth-child(7n + 4) {
  background-color: var(--fuzzywuzzy) !important;
  color: var(--intensewhite);
}

button {
  background: linear-gradient( var(--fawn), var(--quinacridonemagenta) );
  border: none;
}

button:hover {
  background: linear-gradient( var(--darkcornflowerblue), var(--cetaceanblue) );
  transform: scale(98%);
  box-shadow: 0 0 0.5rem var(--cetaceanblue);
}

button.secondary {
  background: linear-gradient( var(--bluegrey), var(--darkcornflowerblue) );

}

button.secondary:hover {
  background: linear-gradient( var(--darkcornflowerblue), var(--cetaceanblue) );
}

button:disabled {
  background-color: var(--outerspace);
  color: var(--cetaceanblue);
}

button:disabled:hover {
  background-color: var(--outerspace) !important;
  color: var(--cetaceanblue);
}

.current {
  background: linear-gradient( #EFA970, #95344F );
  opacity: 100;
  transform: scale(105%);
}

.current img:hover {
  transform: scale(100%);
  opacity: 50%;
}

.current img {
  opacity: 50%;
}

.selected, .selected:hover {
  background: none;
  background-color: var(--fuzzywuzzy);
  opacity: 80;
  transform: scale(95%);
}

.chivo {
  font-family: Chivo, sans-serif;
  letter-spacing: 0;
  font-weight: 700;
}

a {
  color: var(--fuzzywuzzy);
  text-decoration: none;
}

a:hover {
  color: var(--deer);
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--bluegrey);
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

/* transition effect on splash / loading */
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeinout 8s linear forwards;
  animation: fadeinout 8s linear forwards;
  opacity: 0;
}

.matariki-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: fadein 10s linear forwards;
  animation: fadein 10s linear forwards;
  opacity: 0;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; } /* Start with opacity 0 */
  25% { opacity: 1; } /* Fade in */
  100% { opacity: 1; } /* Maintain opacity at 1 */
}

@keyframes fadein {
  0% { opacity: 0; } /* Start with opacity 0 */
  25% { opacity: 1; } /* Fade in */
  100% { opacity: 1; } /* Maintain opacity at 1 */
}

@-webkit-keyframes fadeinout {
  25% { opacity: 1; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  25% { opacity: 1; }
  50% { opacity: 1; }
}

.fadeinout {
  transition-delay: 4s; /* Add a delay before the fade-out starts */
}

/* Twinkling stars animation */
@keyframes twinkling {
  0% {
    opacity: 0.75;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.star {
  animation-name: twinkling;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-delay: var(--delay)s; /* Use the random delay value */
  box-shadow: 0 0 50px 15px var(--intensewhite)
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-front,
.card .card-back {
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
}

.card .card-front {
  z-index: 2;
}

.card .card-back {
  transform: rotateY(180deg);
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card.flipped {
  transform: rotateY(180deg);
}


